name: sgc-dev

services:
  web:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    env_file:
      - ./client/.env.dev    
    restart: unless-stopped
    networks:
      - net
    volumes:
      - ./client:/app
      - /app/node_modules

  # ========================================
  # BACKEND - Python + FastAPI (DESARROLLO)
  # ========================================
  api:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    ports:
      - "8000:8000"
    environment:
      - ENVIRONMENT=dev
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./server/.env.dev
    restart: unless-stopped
    networks:
      - net
    volumes:
      - ./server:/app

  # ========================================
  # BASE DE DATOS - MariaDB (DESARROLLO)
  # ========================================
  db:
    image: mariadb:latest
    env_file:
      - ./server/.env.dev
    environment:
      - MARIADB_ROOT_PASSWORD=sgc_root_dev_password
      - MARIADB_DATABASE=sgc_db_dev
      - MARIADB_USER=sgc_user
      - MARIADB_PASSWORD=sgc_user_dev_password

    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - type: bind
        source: ./database/01_init_database.sql
        target: /docker-entrypoint-initdb.d/01_init_database.sql
      - type: bind
        source: ./database/02_structure.sql
        target: /docker-entrypoint-initdb.d/02_structure.sql
      - type: bind
        source: ./database/03_foreign_keys.sql
        target: /docker-entrypoint-initdb.d/03_foreign_keys.sql
      - type: bind
        source: ./database/04_constraints.sql
        target: /docker-entrypoint-initdb.d/04_constraints.sql
      - type: bind
        source: ./database/05_indexes.sql
        target: /docker-entrypoint-initdb.d/05_indexes.sql
      - type: bind
        source: ./database/06_views.sql
        target: /docker-entrypoint-initdb.d/06_views.sql
      - type: bind
        source: ./database/07_procedures.sql
        target: /docker-entrypoint-initdb.d/07_procedures.sql
      - type: bind
        source: ./database/08_events.sql
        target: /docker-entrypoint-initdb.d/08_events.sql
      - type: bind
        source: ./database/09_triggers.sql
        target: /docker-entrypoint-initdb.d/09_triggers.sql
      - type: bind
        source: ./database/10_initial_data.sql
        target: /docker-entrypoint-initdb.d/10_initial_data.sql
    command: >-
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --default-authentication-plugin=mysql_native_password
      --max-connections=500
      --max_allowed_packet=128M
    networks:
      - net
    healthcheck:
      test: [ "CMD", "mariadb-admin", "ping", "-h", "localhost", "-u", "root", "--password=sgc_root_dev_password" ]
      interval: 10s  
      timeout: 5s
      retries: 5
      start_period: 30s 

networks:
  net:
    driver: bridge

volumes:
  db_data:
    driver: local


