name: sgc-prod

services:
  # ========================================
  # FRONTEND - Vue.js (PRODUCCIÓN)
  # ========================================
  web:
    build:
      context: ./client
      dockerfile: Dockerfile.prod
    ports:
      - "80:80"
    env_file:
      - ./client/.env.prod
    restart: unless-stopped
    networks:
      - net

  # ========================================
  # BACKEND - Python + FastAPI (PRODUCCIÓN)
  # ========================================
  api:
    build:
      context: ./server
      dockerfile: Dockerfile.prod
    ports:
      - "8000:8000"
    environment:
      - ENVIRONMENT=prod
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./server/.env.prod
    restart: unless-stopped
    networks:
      - net

  # ========================================
  # BASE DE DATOS - MariaDB (PRODUCCIÓN)
  # ========================================
  db:
    image: mariadb:10.11
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD_PROD}
      - MYSQL_DATABASE=sgc_db_prod
      - MYSQL_USER=sgc_user
      - MYSQL_PASSWORD=${DB_USER_PASSWORD_PROD}
    restart: unless-stopped
    networks:
      - net
    volumes:
      - ./database:/docker-entrypoint-initdb.d
      - db_data_prod:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

volumes:
  db_data_prod:

networks:
  net:
    driver: bridge