# Backend Environment Variables Example
BACKEND_PORT=8000

# Database configuration
DB_HOST=db
DB_PORT=3306
DB_NAME=sgc_db
DB_USER=sgc_user
DB_ADMIN=sgc_admin
DB_USER_PASSWORD=password_segura
DB_ADMIN_PASSWORD=admin_password_segura
DB_ROOT_PASSWORD=root_password_segura

# CORS
ALLOWED_ORIGINS=http://localhost:5173

# Security
SECRET_KEY=tu_clave_secreta_aqui
SALT=tu_salt_aqui
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256

ENVIRONMENT=dev

# Email configuration (optional)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_contraseña_de_aplicación
MAIL_DEFAULT_SENDER=tu_correo@gmail.com